:root {
  line-height: 1.5;
  font-family: Neue;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color:  #EAE7FA;
  list-style: none;

  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Lexend', sans-serif; */
  font-weight: 400;

  color-scheme: light dark;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
body {
  margin: 0;
}
h1,h2,h3,h4,h5,p{
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: NeueBold;
  margin: 0;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
@font-face{
  font-family: Neue;
  src: url(../src/public/NeuePowerTrial-Regular.ttf);
}
@font-face{
  font-family: NeueBold;
  src: url(../src/public/NeuePowerTrial-Bold.ttf);
}
@font-face{
  font-family: NeueHeavy;
  src: url(../src/public/NeuePowerTrial-Heavy.ttf);
}
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: black;
  cursor: pointer;
  transition: all 0.25s;
  color: #ffffff;
}
button:hover {
  background: transparent;
  color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 800px){
  section h1{
    font-size: 3rem;
  }
  h3{
    font-size: 2rem ;
  }
  nav div{
    display: none;
  }
  header{
    place-items: left;
  }
  header h1{
    font-size: 3rem;
  }
  header img{
    width: 25rem;
  }
  header section:nth-child(1){
    flex-direction: column;
    place-items: center;
  }
  header section:nth-child(2){
    place-items: center;
  }

  .benefit_ctn section{
    flex-direction: column;
  }



  .services_ctn section{
    place-items: center;
    width: 100%;
  }
  .services_ctn section div{
    place-items: center;
  }
  .services_ctn section article{
    width: 60%;
  }
  .services_ctn section article div:nth-child(2){
    flex-direction: column;
  }
  .services_ctn section div:nth-child(1) article:hover{
    flex-grow: 2;
  }
  .services_ctn h3{
    font-size: 2rem;
  }



  .content_ctn section span:nth-child(1){
    flex-direction: column;
    place-items: center;
    height: max-content;
  }
  .content_ctn section span:nth-child(2){
    flex-direction: column;
    place-items: center;
    /* height: 0rem; */
  }
  .content_ctn section span:nth-child(2) article{
    width: 20rem;
  }


  .team_ctn section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}