:root {
  line-height: 1.5;
  font-family: Neue;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color:  #EAE7FA;
  list-style: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf; */
}

body {
  /* margin: 0; */
  /* display: flex;
  flex-direction: column; */
  /* gap: 150px; */
}
h1,h2,h3,h4,h5,p{
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: NeueBold;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
@font-face{
  font-family: Neue;
  src: url(../public/NeuePowerTrial-Regular.ttf);
}
@font-face{
  font-family: NeueBold;
  src: url(../public/NeuePowerTrial-Bold.ttf);
}
@font-face{
  font-family: NeueHeavy;
  src: url(../public/NeuePowerTrial-Heavy.ttf);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 800px){
  nav div{
    display: none;
  }
  header{
    place-items: left;
  }
  header section:nth-child(1){
    flex-direction: column;
    place-items: center;
  }
  header section:nth-child(2){
    place-items: center;
  }

  .benefit_ctn section{
    flex-direction: column;
  }

  .services_ctn section{
    place-items: center;
  }
  .services_ctn section article{
    width: 50%;
  }
  .services_ctn section article div:nth-child(2){
    flex-direction: column;
  }
  .services_ctn section div:nth-child(1) article:hover{
    flex-grow: 2;
  }


  .content_ctn section div:nth-child(1){
    display: flex;
    flex-direction: column;
  }
  .content_ctn section div:nth-child(2){
    display: flex;
    flex-direction: column;
  }
  .content_ctn section div:nth-child(1) article{
    height: 100rem;
    flex: 1;
  }

  .content_ctn section div:nth-child(2) article{
    height:30rem ;
  }
}